
.btn-game {
    background-color: var(--clr-secondary);
    font-weight: bold;
    color: var(--clr-light);
    border: 0;
    padding: .5rem 1.1rem;
    border-radius: 15px;
    /*margin: .5rem 0;*/
}

.container {
    display: grid;
    color: var(--clr-light);
    justify-items: center;
    margin-top: 300px;
    height: 100vh;
}

.game {
    position: relative;
    width: 12.5rem;
    cursor: pointer;
}

.streamers {
    text-align: center;
    display: flex;
}
.streamers img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}


/****************** Rank **************/
.rank {
    position: absolute;
    top: 0;
    right: 1rem;

    font-weight: 700;
    font-size: 1.2rem;

    padding: .5rem .5rem .75rem;
    background-color: var(--clr-rank);
    clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
    z-index: 1000; /* top level */
    transition: var(--transition);
}
/****************** Rank **************/

/************ Front ******************/
.front {
    position: relative;
    z-index: 10;
    transition: transform .3s;
}
.front .thumbnail {
    border-radius: var(--br);
    margin: 0 0 .75rem;
}
.front .name {
    text-align: left;
    margin: 0 0 .75rem;
}
/************ Front ******************/

/************.Front-stats**************/
.front-stats {
    position: relative;
    z-index: 2;
}
.front-stats .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
.front-stats .stats .viewers {
    font-size: .875rem;
}
.front-stats .streamers img {
    border: 1px solid var(--clr-dark);
}
.front-stats .streamers img:nth-of-type(1) {
    transform: translateX(50%);
    z-index: 1;
}
.front-stats .streamers img:nth-of-type(2) {
    transform: translateX(25%);
}
/*********.Front-stats****************/



/* Back */
.back {
    opacity: 0;
    position: absolute;
    z-index: 6;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateY(35%);
}

.back .streaming-info {
    margin: 1rem 0;
    width: 100%;

    column-count: 2;
    column-rule: 1px solid rgba(255, 255, 255, .25);
}
.back .streaming-info .game-stat {
    font-size: 1.125rem;
    text-align: center;
}
.back .streaming-info .game-stat span {
    display: block;
    font-size: .8rem;
    color: rgba(255, 255, 255, .4);
}
.back .streamers {
    width: 100%;
    margin: 1rem 0 0;
    font-size: .9rem;
    justify-content: space-between;
}

.back .streamers .streamer .name {
    font-weight: bold;
}

/* BackGround */
.background {
    background-color: var(--clr-bg);
    /*border: 1px solid var(--clr-bg);*/
    border-radius: var(--br);

    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0;
    transform: scale(.2, .9);
}
.background img {
    border-top-left-radius: var(--br);
    border-top-right-radius: var(--br);
    opacity: .3;
    clip-path: url(#wave);
}
.background svg {
    display: block;
}


/* Hover */
.game:hover .rank {
    transform: translate(130%, -79%);
    background-color: rgba(0,0,0,.5);
}

.game:hover .front {
    transform: translateY(-39%) scale(.8);
}
.game:hover .front .name {
    animation: gameName 250ms forwards;
}

.game:hover .background {
    opacity: 1;
    transform: scale(1.4, 1.2);
    transition:
            var(--transition),
            opacity 100ms linear;
}

.game:hover .back {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.5s ease, transform .5s ease;
}

@keyframes gameName {
    0% {
        text-align: left;
        opacity: 1;
    }
    20% {
        text-align: left;
        opacity: 0;
    }
    50% {
        text-align: center;
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        text-align: center;
        opacity: 1;
        transform: scale(1.2);
    }
}