/* Global */
html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
.text-muted {

}

.pink {
    color: rgb(255, 7, 110);
}
.pink-bg {
    border-top: 1px solid rgb(200, 7, 100);
    background-color: rgb(255, 7, 110);
}
.apple {
    color: rgb(34, 219, 45);
}
.apple-bg {
    border-top: 1px solid rgb(35, 180, 45);
    background-color: rgb(34, 219, 45);
}
.orange {
    color: rgb(255, 150, 17);
}
.orange-bg {
    border-top: 1px solid rgb(194, 106, 17);
    background-color: rgb(255, 150, 17);
}
.azure {
    color: rgb(54, 104, 255);
}
.azure-bg {
    border-top: 1px solid rgb(52, 94, 205);
    background-color: rgb(54, 104, 255);
}


.pink-bg .footer-item:nth-child(2) {
    border-left: 1px solid rgb(200, 7, 100);
    border-right: 1px solid rgb(200, 7, 100);
}
.apple-bg .footer-item:nth-child(2) {
    border-right: 1px solid rgb(35, 180, 45);
    border-left: 1px solid rgb(35, 180, 45);
}
.orange-bg .footer-item:nth-child(2) {
    border-left: 1px solid rgb(194, 106, 17);
    border-right: 1px solid rgb(194, 106, 17);
}
.azure-bg .footer-item:nth-child(2) {
    border-left: 1px solid rgb(52, 94, 205);
    border-right: 1px solid rgb(52, 94, 205);
}

/* CONTAINER */
.container {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    max-width: 1300px;
    height:auto;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(1, 483px);
    justify-content: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}


/* CARD */
.card {
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
    transition: ease .5s
}
.card:hover {
    transform: scale(1.1);
}

.card .card-img {
    width: 100%;
    height: 100px;
}
.card .card-img img {
    width: 483px;
    height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card .card-body {
    color: #212529;
    padding: 20px;
    border: 1px solid #959595;
    border-bottom: none;
}

.card .card-body .card-title {
    font-size: 1.25rem;
    margin: 0 0 5px;
    text-align: center;
}
.card .card-body .card-subtitle {
    font-size: .9rem;
    margin: 0 0 12px;
    text-align: center;
    font-weight: 500;
}
.card .card-body p.card-text {
    font-size: .95rem;
    line-height: 1.5rem;
    margin: 0 0 12px;
    text-align: center;
}

/* Card-footer */
.card .card-footer {
    color: #ffffff;
    display: grid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}
.card .card-footer .footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.card .card-footer .footer-item .stat-number {
    font-size: 1.5rem;
    font-weight: 700;
}
.card .card-footer .footer-item .stat-title {
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 287px);
    }

    .card .card-img img {
        width: 287px;
    }
}
/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(3, 287px);
    }
}
/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(4, 287px);
    }
}